.footer {
    &__feedback {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
        padding: 130px 0px 100px;

        &::before {
            position: absolute;
            content: '';
            background-color: rgba($color: #000000, $alpha: 0.6);
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 0;
        }

        &-inner {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
        }

        &-title {
            font-weight: 500;
            font-size: 75px;
            line-height: 94px;
            margin-bottom: 10px;
        }

        &-text {
            max-width: 714px;
            line-height: 32px;
            color: var(--light-grey-color);
            margin-bottom: 35px;
        }

        &-phone {
            margin-bottom: 30px;
        }

        &-phone a {
            background-color: #fff;
            padding: 23px 40px;
            color: var(--black-color);

            &::before {
                margin-right: 12px;
            }


        }

        &-servis {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
    }

    &__info {
        color: #fff;
        background-color: var(--black-color);
        padding: 50px 0;

        a {
            color: var(--light-grey-text);

            &:hover,
            &:focus {
                color: #fff;
                opacity: 1;
            }
        }

        &-logo {
            fill: var(--grey-color);
            border-bottom: 1px solid var(--dark-grey-color);
            padding-bottom: 36px;
            margin-bottom: 50px;
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            margin-bottom: 66px;
        }

        &-office {
            width: 714px;

            a {
                margin-left: 10px;
                margin-bottom: 16px;

                &::before {
                    margin-right: 20px;
                }
            }
        }

        &-product {
            width: 323px;
        }

        &-help {
            width: 213px;
        }

        &-offers {
            width: 448px;

            form {
                width: 100%;
                height: 66px;
                display: flex;
                justify-content: start;
                margin-bottom: 20px;
            }

            input {
                width: 353px;
                height: 100%;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid var(--dark-grey-color);
                font-size: 25px;
                line-height: 33px;
                letter-spacing: -0.272727px;
                color: #fff;
                margin-bottom: 20px;

                &::placeholder {
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 33px;
                    letter-spacing: -0.272727px;
                }
            }

            button {
                height: 100%;
                min-width: 66px;
                cursor: pointer;
                background-color: #fff;
                border-radius: 10px 10px 0 0;
                font-size: 18px;
                margin-left: 20px;
            }
        }

        &-title {
            font-weight: 300;
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 24px;
        }

        &-text {
            width: 330px;
            font-weight: 400;
            font-size: 25px;
            line-height: 42px;
            color: var(--light-grey-text);
            margin-bottom: 40px;
        }

        &-pay {
            a {
                color: var(--light-grey-text);

                &:hover,
                &:focus {
                    opacity: 0.6;
                }
            }
        }

    }

}

.police__nav-item {
    margin-right: 20px;
}

.footer__info-social {
    font-size: 30px;
}

.footer__info-social .icon-instagram {
    margin-left: 30px;
}

.links-title {
    display: none;
}

.icon-phone span {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
}


@media (max-width: 1800px) {
    .footer {
        &__feedback {
            padding: 97px 0;

            &-inner {
                flex-direction: column;
                text-align: center;
            }

            &-info {
                margin-bottom: 50px;
            }

            &-title {
                font-size: 30px;
                line-height: 38px;
            }

            &-text {
                font-size: 16px;
                line-height: 23px;
            }

            &-mail {
                font-size: 22px;
                line-height: 28px;
            }

            &-mode {
                font-size: 22px;
                line-height: 28px;
            }


        }

        &__info {
            &-logo {
                display: flex;
                justify-content: center;
            }

        }
    }

    .footer__info-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .footer__info-item {
        width: 100%;
        border-bottom: 1px solid var(--dark-grey-color);
        padding-bottom: 33px;
    }
}



.pay {
    margin-top: 35px;

    &__nav {

        &-list {
            display: flex;
        }

        &-link {
            margin-right: 27px;
            width: 70px;
            height: 70px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-link img {
            display: block;
        }
    }
}

@media (max-width: 860px) {
    .footer__info-social {
        font-size: 40px;
    }

    .footer__info-social .icon-instagram {
        margin-left: 50px;
    }

    .links-title {
        display: block;
    }

    .footer__info-inner {
        display: flex;
        flex-direction: column;
    }

    .footer__info-links {
        flex-direction: column-reverse;
        align-items: start;
    }

    .footer__info-police {
        margin-top: 35px;
        width: 100%;
    }

    .footer__info-form input {
        width: 100%;
        margin-right: 20px;
    }

    .links-title {
        margin-bottom: 50px;
    }

    .footer__info-text {
        font-size: 16px;
        line-height: 30px;
    }
}

@media (max-width: 630px) {
    .footer__info-police a {
        font-size: 16px;
        line-height: 20px;
    }
}