body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    color: var(--black-color);
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        opacity: 0.6;
    }
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}

.burger-btn {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    background-color: var(--accent-color);
    display: inline-block;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.265em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.slider {
    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__item{
        position: absolute;
        top: 0;
        left: 0;
        
    }

}
.furniture__slider .off{
    opacity: 0;
    transition: all 0.3s;
}