a{
    color: inherit;
    text-decoration: none;
    word-spacing: nowrap;
}
ul, li{
    list-style: none;
    
    
}
li{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 43px;
    color: var(--black-color);
}

.container{
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}