body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    color: var(--black-color);

}
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.outfit {
    font-family: 'Outfit';
}


h1,h2 {
    font-weight: 400;
    font-size: 65px;
    line-height: 82px;
}

h3 {
    font-weight: 300;
    font-size: 55px;
    line-height: 69px;
}

h4 {
    font-weight: 500;
    font-size: 75px;
    line-height: 94px;
}
h5 {
    font-weight: 500;
    font-size: 75px;
    line-height: 94px;
}

a,
button {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        opacity: 0.6;
    }
}
button{
    background: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}
section{
    text-align: center;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}

.burger-btn {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    background-color: var(--accent-color);
    display: inline-block;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.265em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}



.slider {
    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__item {
        position: absolute;
        top: 0;
        right: 0;

    }

}

.furniture__slider .off {
    opacity: 0;
}

.check {
    padding-left: 50px;
    position: relative;
    cursor: pointer;

    &__input {
        width: 0;
        height: 0;
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
    }

    &__input:checked+.check__box {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='27' height='27' rx='3.5' stroke='%23999999'/%3E%3Cpath d='M7.33331 14L12.3333 19L20.6666 9' stroke='%23999999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    &__input:hover+.check__box {
        box-shadow: 0px 0px 8px rgba(44, 39, 56, 0.40);
    }

    &__input:focus+.check__box {
        box-shadow: 0px 0px 8px rgba(44, 39, 56, 0.40);
    }

    &__box {
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='27' height='27' rx='3.5' stroke='%23999999'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        width: 1.2em;
        height: 1.2em;

    }
}

.accordeon {
    &__title {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        margin: 30px 0;

        span {
            display: inline-block;
            width: 20px;
            height: 2px;
            background: var(--light-grey-text);
            position: relative;
            right: 0;
            top: 20px;
        }

        span::after {
            content: '';
            height: 20px;
            width: 2px;
            background: var(--light-grey-text);
            position: absolute;
            top: -9px;
            left: 9px;
            transition: all 0.3s ease;
        }
    }

    &__content {
        display: none;
        transition: all 0.3s;
    }
}

.active .accordeon__content {
    display: block;
}

.active .accordeon__title span::after {
    height: 0px;
    top: 2px;
}

.grey {
    color: var(--light-grey-text);
}

.price {

    &__new,
    &__sale {
        color: var(--red);
    }

    &__old {
        color: var(--light-grey-color);
    }
}

.rating {
    
    display: flex;
    align-items: center;
    margin: 1em 0 1em 0;
    padding: 0;
    // padding-right: 280px;
    border: none;
}

.rating__group {
    position: relative;
    width: 10em;
    height: 2em;
    background-image: url(../img/off.svg);
    background-repeat: repeat-x;
    background-size: 2em auto;
    margin-right: 10px;
}

.rating__caption {
    position: absolute;
    padding: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}

.rating__star {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 2em;
    font-size: inherit;
    background-size: 2em auto;
    background-repeat: repeat-x;
    -wbkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.rating__star:focus~.rating__focus {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    outline: 0.2em solid #e8e8ff;
    outline-offset: 0.2em;
}

.rating__star:checked,
.rating__star:hover {
    background-image: url(../img/on.svg);
}

.rating__star:hover~.rating__star {
    background-image: url(../img/off.svg);
}

.rating__star:nth-of-type(1) {
    width: 2em;
    z-index: 5;
}

.rating__star:nth-of-type(2) {
    width: 4em;
    z-index: 4;
}

.rating__star:nth-of-type(3) {
    width: 6em;
    z-index: 3;
}

.rating__star:nth-of-type(4) {
    width: 8em;
    z-index: 2;
}

.rating__star:nth-of-type(5) {
    width: 10em;
    z-index: 1;
}

.quantity{
    font-size: 25px;
    input{
        border: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 30px;
    }
    button{
        font-size: 40px;
    }
}
.close {
    cursor: pointer;
}