.sale-time {
    margin-bottom: 100px;


    &__inner {
        padding: 83px 0;
        text-align: center;
        color: #fff;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 65px;
        line-height: 82px;
        margin-bottom: 40px;
    }

    &__clock {
        font-style: normal;
        font-weight: 400;
        font-size: 65px;
        line-height: 82px;
        letter-spacing: 0.265em;
        margin-bottom: 40px;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.265em;
        text-transform: uppercase;
    }

}

.collection-room {
    margin-bottom: 100px;

    &__wrapper {
        display: grid;
        grid-template-columns: 355px 1fr;
        gap: 80px;
    }

    &__sidebar {
        min-height: 500px;
    }

    &__title {
        font-weight: 300;
        font-size: 55px;
        margin-bottom: 100px;
    }

    &__inner {
        min-height: 500px;

        ul li {
            margin-bottom: 15px;
        }

        &-numpage {
            margin-left: 2rem;


        }

        &-choice {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 100px;
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            justify-content: space-between;
        }

        &-img {
            width: 100%;
            height: 75%;
            overflow: hidden;
            margin-bottom: 16px;
        }

        &-item {
            max-height: 512px;


            img {
                width: 100%;
                object-fit: cover;
                transition: all 0.3s;

            }
        }

        &-item:hover,
        &-item:focus {
            opacity: 0.8;

            img {
                transform: scale(1.1);
            }
        }

        &-title {
            margin-bottom: 15px;
        }

        &-selector {
            display: flex;
            align-items: center;

            p {
                margin-right: 40px;
            }
        }

    }

    &__category {

        &-item {
            position: relative;
            width: 100%;
            margin-bottom: 30px;

            li {
                margin-bottom: 15px;
            }
        }

        &-lable {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            input {
                width: 0;
                height: 0;
                -webkit-appearance: none;
                appearance: none;
                position: absolute;
            }

        }

        &-title {
            margin-bottom: 30px;
        }

        &-check {
            display: none;
        }

    }

    &__item {
        border-bottom: 2px solid var(--light-grey-color);
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    &__featured {
        &-item {
            position: relative;
            width: 100%;

            li {
                margin-bottom: 15px;
            }
        }

        &-title {
            margin-bottom: 30px;
        }
    }

    &__range {
        &-title {
            margin-bottom: 30px;
        }
    }

}

.collection-room__range-inner {
    width: 250px;
}

.collection-room__inner-item .price {

    &__new,
    &__sale {
        color: var(--red);
    }

    &__old {
        color: var(--light-grey-color);
    }
}

.select__arrow {
    position: absolute;
    top: 35%;
    right: 25px;
    font-size: 20px;
    transform: rotate(-90deg);
    pointer-events: none;
}

.timer {
    &__items {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Outfit';
        letter-spacing: 0.265em;
        font-size: 65px;
        line-height: 82px;
    }
    &__item{
        padding: 0 5px;
    }
}