.product-item {
  margin-bottom: 300px;

  &__inner {
    display: grid;
    grid-template-columns: 994px auto;
    grid-gap: 66px;
  }

  &__slider {
    position: relative;
    max-width: 994px;
    max-height: 1157px;

    &-wrapper {
      margin-bottom: 30px;
      max-height: 1000px;

      img {
        max-width: 994px;
        height: 1000px;
      }
    }

    &_trumbs {
      z-index: 990;
    }

    &-thumb {
      width: 80%;
      margin: 0 auto;
      z-index: 990;

      // display: flex;
      // justify-content: center;

      img {
        position: relative;
        width: 126px;
        height: 126px;
        margin: 0 auto;
        object-fit: cover;
        z-index: 999;
        // margin: 0 10px;
        cursor: pointer;
      }
    }

    &-btns {
      position: absolute;
      box-sizing: border-box;
      font-size: 50px;
      bottom: 30px;
      padding: 0 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      z-index: 980;

      button {
        cursor: pointer;
        z-index: 1000;
      }
    }
  }



  &__info {
    width: 100%;

    h1 {
      font-weight: 300;
      font-size: 55px;
      line-height: 56px;
    }

    &-colors {

      &--btns {
        display: flex;
        margin-bottom: 30px;
      }

      &--item {
        margin-right: 15px;
      }

      &--btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
      }

      &--item:nth-child(1)>&--btn {
        background: #25282A;
      }

      &--item:nth-child(2)>&--btn {
        background: #F0E9DE;
      }

      &--item:nth-child(3)>&--btn {
        background: #AAADAE;
      }

      &--item:nth-child(4)>&--btn {
        background: #016262;
      }

      &--item:nth-child(5)>&--btn {
        background: #F8796B;
      }
    }

    &-tocart {
      padding: 35px 0;
      width: 100%;
      border: none;
      margin-bottom: 30px;
    }

    &-guaranteed {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      &--title {
        padding-right: 40px;
        position: relative;
        transform: translateX(-20px);

        span {
          position: absolute;
          right: 0;
          bottom: 50%;
          transform: translateY(50%);
        }
      }
    }

    &-guaranteed .pay__nav-link {
      border: 1px solid var(--light-grey-color);
    }
  }

}

.cast {
  margin-bottom: 100px;

  &__wrapper {
    display: flex;
    gap: 110px;
  }

  &__img img {
    max-width: 850px;
  }
}

.faq {
  margin-bottom: 100px;

  &__title {
    border-bottom: 2px solid var(--light-grey-color);
    padding-bottom: 30px;
  }

  &__item {
    border-bottom: 2px solid var(--light-grey-color);
  }

  p {
    color: var(--light-grey-text);
  }

}

.benefits-slider {
  position: relative;

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;

    &.active {
      opacity: 1;
    }

    &-top {
      height: 186px;
      background-color: var(--light-grey-color);
      display: flex;
      gap: 30px;
      align-items: center;
      padding: 30px;
      margin-bottom: 120px;
    }

    &-img {

      img {
        width: 82px;
        height: 82px;
      }
    }

    &-title {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 32px;
      letter-spacing: 0.265em;
      text-transform: uppercase;
    }

    &-info {
      span {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 33px;
      }

      p {
        font-family: 'HK Grotesk';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 40px;
        color: #848484;
      }
    }
  }

  &__nav {
    position: absolute;

    left: 0;
    right: 0;
    top: 280px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 22px;
    color: #9E9E9E;
    border-bottom: 2px solid #9E9E9E;
    padding: 13px 0;

    &-dots {
      width: 100%;
      display: flex;
      justify-content: space-between;

    }

    &-dot,
    button {
      opacity: 1;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        height: 4px;
        width: 0;
        background-color: var(--black-color);
        left: 0;
        bottom: -16px;
        transition: all 0.3s;
      }

      &:focus::after {
        width: 100%;
      }
    }

    & .active::after {
      width: 100%;
    }
  }
}

.popular {
  text-align: center;
margin-bottom: 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align-last: left;

    .btn {
      display: flex;
      justify-content: center;
      padding: 12px 0;
      font-weight: 400;
      font-size: 25px;
      line-height: 33px;
      text-transform: none;
      margin-top: 30px;
    }
  }
}


// конец product-page style