:root {
    --main-color: #3a5041;
    --accent-color: #b58269;
    --yellow-color: #dfC226;
    --black-color: #1e1e1e;
    --dark-grey-color: #545454;
    --grey-color: #b3b4b1;
    --light-grey-text: #848484;
    --light-grey-color: #c7c7c7;
    --menu-hover-color: #00264B;
    --red: #FF5B5B;
}